.NavbarItems {
    background: blue;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-logo {
    color: green;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
}

.fa-react {
    margin-left: 0.5rem;
    font-size: 20px;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    justify-content: end;
}